package components

templ Page(title string) {
  <!DOCTYPE html>
  <html>
    <head>
      <title>{title}</title>
      <script src="/dist/index.js"></script>
      <link rel="stylesheet" href="/dist/styles.css" />
      <link rel="stylesheet" href="/dist/test.css" />
    </head>
    <body>
      {children...}
    </body>
  </html>
}
